
{{ define "main" }}
    <article class="tags">
        <section>
            <header>
                <h1>{{.Title}}</h1>
            </header>
            <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
            {{.Content}}

            <ol>
                {{ range .Pages -}}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{- end }}
            </ol>
        </section>
    </article>

{{ end }}
