---
---
<!doctype html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p class="page-title"><a href="/" class="black-link">All Sunday</a></p>
        <p><a href="/">首页</a></p>

      </header>
      <section>
        <h1>{{ page.title }}</h1>

        <p class="post-date">{{ page.date | date: "%Y-%m-%d"}}</p>

        {{ content }}

      {% if page.previous %}
      <p class="previous-post">
        下一篇： <a href="{{page.previous.url}}">{{page.previous.title}}</a>
      </p>
      {% endif %}

      </section>

      <footer>
        {% include footer.html %}
      </footer>

    </div>

    {% include ga.html %}

  </body>
</html>
